@import url("MotleyForcesRegular-w1rZ3.ttf");
* {
    margin:0;
    padding:0;
}
body {
    font-family: "motley-forces-font", sans-serif;
}
#main-logo {
    margin-left: 5px;
    margin-top: 4px;
    width: 100px;
    height: 100px;
}
.main {
    display: flex;
    flex-direction: row;
}
.main h1 {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 62.5px;
}
.main #sign-up{
    margin-top: 10px;
    font-size: 17px;
    margin-left: 40em;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background: red;
    color: white;
    border: none;
}
.main #sign-in{
    margin-top: 10px;
    font-size: 17px;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background: blue;
    color: white;
    border: none;
}
.main #sign-in:hover,
.main #sign-up:hover {
    background: black;
    cursor: pointer;
}
#main-video{
    margin-left: 5px;
    margin-top: 4px;
    width: 100px;
    height: 100px;
}
.gif-align {
    display: flex;
    flex-direction: row;
    margin: 1em auto;
    align-items: center;
}
#gif-1 {
    margin-left: 10em;
}
.Book-Your-Slot{
    margin-top: 20px;
    font-size: 40px;
    margin-left: 600px;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    background: blue;
    color: white;
    border: none;
}

